h1 {
	text-align: center;
	color: white;
	font-family: "楷体";
	font-size: 40px;
	font-weight: bold;
}
h2 {
	text-align: center;
	color: white;
	font-family: "楷体";
	font-size: 30px;
	font-weight: bold;
}
